.buttonCol{
    display:flex;
    flex-direction: column;
    gap: 15px
}
.cabec{
    background-color: rgb(207, 219, 250);
    font-family: "Courier New", Courier, monospace;
}
button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

body{
    background-color: rgb(207, 219, 250);
}

header,
footer {
  background-color: rgb(33, 43, 52);
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
div {
  background-color: rgb(49, 59, 68);
}
canvas {
  border: rgb(49, 59, 68) groove 1px;
  border-radius: 5px;

  background-color: rgb(207, 219, 250);
}

h1,p {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(207, 219, 250);
}
